
    <div class="users-main">
      <header>
        <ul class="nav nav-pills">
          <li routerLinkActive="active"><a routerLink="profile">User Details</a></li>
          <li role="presentation"  routerLinkActive="active"><a routerLink="register">Register</a></li>
          <li role="presentation"  routerLinkActive="active"><a routerLink="login">Login</a></li>
          <li role="presentation"  routerLinkActive="active"><a routerLink="recover-password">Recover Password</a></li>
          <li role="presentation"  routerLinkActive="active"><a routerLink="usersList">Users List</a></li>
        </ul>
      </header>
      <div class="user-routing">
        <router-outlet></router-outlet>
      </div>
    </div>

