<div class="container">
  <div class="main">
    <header>
      <ul class="nav nav-pills">
        <li role="presentation"   routerLinkActive="active deactive"><a routerLink="/profile">Home</a></li>
        <li role="presentation"  routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
        <li role="presentation"  routerLinkActive="active"><a routerLink="/users">User</a></li>
        <li role="presentation"  routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
        <li role="presentation"  routerLinkActive="active"><a routerLink="/login">Login</a></li>
      </ul>
    </header>
    <div class="routing">
     <ng-content></ng-content>
    </div>
  </div>
</div>
