<form #myform="ngForm" (ngSubmit)="login(myform)">
 <div class="row col-md-4">
  <div class="form-group" >
    <label for="userName">Name</label>
    <input type="text" class="form-control"  required minlength="5"  #name="ngModel" id="userName" placeholder="User Name" name="name" [(ngModel)]="user.name">
    <div class="has-error" *ngIf="name.invalid" >
      <span class="help-block">user name is required.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password">
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password">
    </div>
  <input type="submit"  [disabled]="myform.invalid" class="btn btn-default" value="login">
  <!-- <button  class="btn btn-default" (click)="login(myform)" > Button</button> -->

</div>
<div class="row col-md-12">
  <!-- <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
        <input type="checkbox"> Check me out
      </label>
  </div> -->
  <p>entered user Name: {{user.name}}</p>
  <div>
    <p>valid: {{name.valid }}</p>
    <p>invalid: {{name.invalid}}</p>
    <p>touched: {{name.touched}}</p>
    <p>untouched: {{name.untouched}}</p>
    <p>prisitine: {{name.pristine}}</p>
    <p>dirty: {{name.dirty}}</p>

  </div>
</div>
</form>